<app-nav></app-nav>

<div class="container">

    <!--Barra de navegacion-->
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a routerLink="/landing"><span class="glyphicon glyphicon-home"></span> PAAUD</a></li>
            <li><span class="glyphicon glyphicon-duplicate"></span> Solicitud</li>
            <li class="active"><span class="glyphicon glyphicon-qrcode"></span> Historico de Solicitudes</li>
        </ul>
    </div>

    <div class="col-md-12 jumbotron">
        <h1>Historico de Solicitudes</h1>
        <hr class="my-4">

        <div class="row" id="barraDeBusqueda">
            <div class="col-md-12">
                <form class="navbar-form navbar-center" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Código del Estudiante" id="codigo" required>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="buscar()"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                </form>
            </div>
        </div>




        <div class="table-responsive">

            <table class="table table-striped table-bordered table-hover ">
                <thead>
                    <tr class="success">
                        <th class="text-center">Nº Radicado</th>
                        <th class="text-center">Código</th>
                        <th class="text-center">Nombres</th>
                        <th class="text-center">Apellidos</th>
                        <th class="text-center">Facultad</th>
                        <th class="text-center">Carrera</th>
                        <th class="text-center">Fecha de Radicado</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Motivo del Estado</th>
                        <th class="text-center">Convocatoria</th>
                    </tr>
                </thead>

                <tr *ngFor="let solicitud of solicitudes">
                    <td class="text-center">{{solicitud.k_solicitud}}</td>
                    <td class="text-center">{{datos_usuario.k_codeestudiante}}</td>
                    <td class="text-center">{{datos_usuario.n_nomeestudiante}}</td>
                    <td class="text-center">{{datos_usuario.n_apellestudiante}}</td>
                    <td class="text-center">{{datos_usuario.n_facultad}}</td>
                    <td class="text-center">{{datos_usuario.n_proyectocurric}}</td>
                    <td class="text-center">{{solicitud.f_solicitud}}</td>
                    <td>
                        <span class="label label-info text-center">{{solicitud.i_estadosolicitud}}</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning btn-xs center-block"><span class="glyphicon glyphicon-search"></span> Ver</button>
                    </td>
                    <td class="text-center">{{solicitud.k_idconvocatoria}}</td>
                </tr>

            </table>

        </div>

    </div>

</div>