<app-nav></app-nav>

<div class="container">

    <!--Barra de navegacion-->
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a routerLink="/landing"><span class="glyphicon glyphicon-home"></span> PAAUD</a></li>
            <li><span class="glyphicon glyphicon-bullhorn"></span> Convocatoria</li>
            <li class="active"><span class="glyphicon glyphicon-calendar"></span> Publicar Convocatoria
        </ul>
    </div>

    <div class="col-md-12 jumbotron">
        <h1>Publicar Convocatoria</h1>
        <hr class="my-4">
        <div class="col-md-3 block-center">
            <img src="../../assets/convocatoria.png" alt="">
        </div>

        <div class="col-md-9">

            <form class="form-horizontal" #convocatoriaForm="ngForm">
                <fieldset>
                    <legend><span class="glyphicon glyphicon-time"></span> Fechas de la Convocatoria</legend>

                    <div class="form-group">
                        <label for="fechaInicioConvocatoria" class="col-lg-2 control-label">Fecha Inicio Convocatoria:</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaInicioConvocatoria" name="fechaInicioConvocatoria" [(ngModel)]='datos_convocatoria.f_inicioconvocatoria' #fechaInicioConvocatoria="ngModel" required>
                        </div>
                        <label for="fechaPublicacionResultados" class="col-lg-2 control-label">Fecha de Publicación de Resultados:</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaPublicacionResultados" name="fechaPublicacionResultados" [(ngModel)]="datos_convocatoria.f_publicacionresultados" #fechaPublicacionResultados="ngModel" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fechaInicioPublicacion" class="col-lg-2 control-label">Fecha Inicio Publicación:</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaInicioPublicacion" name="fechaInicioPublicacion" [(ngModel)]="datos_convocatoria.f_iniciopublicacion" #fechaInicioPublicacion="ngModel" required>
                        </div>
                        <label for="fechaFinPublicacion" class="col-lg-2 control-label">Fecha Fin Publicación:</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaFinPublicacion" name="fechaFinPublicacion" [(ngModel)]="datos_convocatoria.f_finpublicacion" #fechaFinPublicacion="ngModel" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fechaIncioValidacion" class="col-lg-2 control-label">Fecha Inicio Validación:</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaInicioValidacion" name="fechaInicioValidacion" [(ngModel)]="datos_convocatoria.f_iniciovalidacion" #fechaInicioValidacion="ngModel" required>
                        </div>
                        <label for="fechaFinValidacion" class="col-lg-2 control-label">Fecha Fin Validación:</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaFinValidacion" name="fechaFinValidacion" [(ngModel)]="datos_convocatoria.f_finvalidacion" #fechaFinValidacion="ngModel" required>
                        </div>
                    </div>
                    <br/>

                    <legend><span class="glyphicon glyphicon-book"></span> Facultad de la Convocatoria </legend>
                    <div class="form-group">
                        <label for="facultad" class="col-md-2 control-label">Facultad:</label>
                        <div class="col-md-4">
                            <select class="form-control" id="facultad" name="facultad" [(ngModel)]="datos_convocatoria.k_facultad" #facultad="ngModel" required>
                              <option *ngFor="let facultad of facultades" [ngValue]="facultad.k_facultad">{{facultad.n_nombrefacultad}}</option>
                            </select>
                        </div>

                        <label for="periodo" class="col-md-2 control-label">Periodo:</label>
                        <div class="col-md-4">
                            <select class="form-control" id="periodo" name="periodo" [(ngModel)]="datos_convocatoria.q_periodo" #periodo="ngModel" required>
                              <option *ngFor="let periodo of periodos" [ngValue]="periodo.periodo">{{periodo.periodo}}</option>
                            </select>
                        </div>
                    </div>

                    <legend><span class="glyphicon glyphicon-pencil"></span> Número de Cupos </legend>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="success block-center">
                                    <th class="text-center">SUBSIDIO</th>
                                    <th class="text-center">% SUBSIDIADO</th>
                                    <th class="text-center">CUPOS</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let subsidio of subsidios ; let i=index">
                                <th class="text-center">{{subsidio.i_tiposubsidio}}</th>
                                <th class="text-center">{{subsidio.t_porcentajesub}}</th>
                                <th class="text-center"><input style="text-align:center" type="number" class="form-control" placeholder="cupos" id="cupos" name="cupos" min="0" [(ngModel)]="subsidio.n_cupos" #periodo{{i}}="ngModel" required/></th>
                            </tr>
                        </table>

                    </div>


                    <div class="form-group block-center">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default btn-lg" (click)="regresar(); convocatoriaForm.reset()"> <span class="glyphicon glyphicon-remove-sign"></span> Cancelar</button>
                            <button type="submit" class="btn btn-success btn-lg" (click)="enviardatos()" [disabled]="!convocatoriaForm.form.valid"> <span class="glyphicon glyphicon-ok-circle"></span> Enviar</button>
                            <button type="reset" class="btn btn-primary btn-lg" (click)="convocatoriaForm.reset()"> <span class="glyphicon glyphicon-trash"></span> Limpiar</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

        <div *ngIf="error != ''" class="alert alert-danger col-md-12">
            * <span class="glyphicon glyphicon-warning"></span>{{error}}
        </div>

    </div>

</div>