<app-nav></app-nav>

<div class="container">
    <!--Barra de navegacion-->
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a routerLink="/landing"><span class="glyphicon glyphicon-home"></span> PAAUD</a></li>
            <li><span class="glyphicon glyphicon-duplicate"></span> Solicitud</li>
            <li class="active"><span class="glyphicon glyphicon-pencil"></span> Registrar Solicitud</li>
        </ul>
    </div>

    <app-informacion></app-informacion>

    <div class="col-md-9 jumbotron">
        <h1>Registrar Solicitud </h1>
        <hr class="my-4">
        <br>

        <form class="form-horizontal" #formulario="ngForm">
            <fieldset>
                <legend><span class="glyphicon glyphicon-user"></span> Datos Personales</legend>


                <div class="form-group">
                    <label for="nombres" class="col-lg-2 control-label">Nombres </label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="nombres" id="nombres" readonly [(ngModel)]='datos_usuario.n_nomeestudiante' #nombres="ngModel" />
                    </div>

                    <label for="apellidos" class="col-lg-2 control-label">Apellidos </label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="apellidos" id="apellidos" readonly [(ngModel)]='datos_usuario.n_apellestudiante' #apellidos="ngModel" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="codigo" class="col-lg-2 control-label">Código </label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="codigo" id="codigo" readonly [(ngModel)]='datos_usuario.k_codeestudiante' #codigo="ngModel" />
                    </div>

                    <label for="documento" class="col-lg-2 control-label">Documento de Identidad</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="documento" id="documento" readonly [(ngModel)]='datos_usuario.q_identificacionestu' #documento="ngModel" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="facultad" class="col-lg-2 control-label">Facultad </label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="facultad" id="facultad" readonly [(ngModel)]='datos_usuario.n_facultad' #facultad="ngModel" />
                    </div>

                    <label for="proyecto" class="col-lg-2 control-label">Proyecto Curricular</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="proyecto" id="proyecto" readonly [(ngModel)]='datos_usuario.n_proyectocurric' #proyecto="ngModel" />
                    </div>
                </div>

                <legend><span class="glyphicon glyphicon-phone-alt"></span> Datos de Contacto </legend>

                <div class="form-group">
                    <label for="celular" class="col-lg-2 control-label"><span class="glyphicon glyphicon-phone"></span> Número Celular</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="celular" id="celular" readonly [(ngModel)]='datos_usuario.q_numcelular' #celular="ngModel" />
                    </div>

                    <label for="fijo" class="col-lg-2 control-label"><span class="glyphicon glyphicon-phone-alt"></span> Número Fijo</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="fijo" id="fijo" readonly [(ngModel)]='datos_usuario.q_numefijo' #fijo="ngModel" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-lg-4 control-label">e-mail</label>
                    <div class="col-lg-6 input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" name="email" id="email" readonly [(ngModel)]='datos_usuario.n_email' #email="ngModel" />
                    </div>
                </div>

                <legend><span class="glyphicon glyphicon-usd"></span> Información Socioeconómica</legend>

                <div class="form-group">
                    <label for="estadoCivil" class="col-lg-2 control-label">Estado Civil</label>
                    <div class="col-lg-4">
                        <select class="form-control" id="estadoCivil" required>
                            <option value="soltero">Soltero</option>
                            <option value="casado">Casado</option>
                            <option value="separado">Separado/Divorciado</option>
                            <option value="viudo">Viudo</option>
                            <option value="union libre">Unión Libre</option>
                        </select>
                    </div>

                    <label for="estrato" class="col-lg-2 control-label">Estrato</label>
                    <div class="col-lg-4">
                        <select class="form-control" name="estrato" id="estrato" required [(ngModel)]="zona_riesgo.q_numerico" #estrato="ngModel">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="matricula" class="col-lg-6 control-label">Valor de la Matrícula</label>
                    <div class="col-lg-6 input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" name="matricula" id="matricula" readonly [(ngModel)]='datos_usuario.q_valormatricula' #matricula="ngModel">
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ingresos" class="col-lg-6 control-label">Valor mensual de los ingresos</label>
                    <div class="col-lg-6 input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" name="ingresos" id="ingresos" required placeholder="100.000" [(ngModel)]="ingresos_familiares.q_numerico" #ingresos="ngModel">
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="sostenimientoeconomico" class="col-lg-4 control-label">Se sostiene económicamente a si mismo</label>
                    <div class="col-lg-2">
                        <select class="form-control" name="sostenimientoeconomico" id="sostenimientoeconomico" required [(ngModel)]="sostenimiento_economico.i_booleano" #sostenimientoeconomico="ngModel">
                            <option value="f" selected>No</option>
                            <option value="t">Si</option>
                        </select>
                    </div>

                    <label for="sostenimientohogar" class="col-lg-4 control-label">Sostiene actualmente su hogar</label>
                    <div class="col-lg-2">
                        <select class="form-control" name="sostenimientohogar" id="sostenimientohogar" required [(ngModel)]="sostiene_su_hogar.i_booleano" #sostenimientohogar="ngModel">
                            <option value="f" selected>No</option>
                            <option value="t">Si</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="vivefuera" class="col-lg-4 control-label">Vive fuera de su núcleo familiar</label>
                    <div class="col-lg-2">
                        <select class="form-control" name="vivefuera" id="vivefuera" required [(ngModel)]="vive_fuera.i_booleano" #vivefuera="ngModel">
                            <option value="f" selected>No</option>
                            <option value="t">Si</option>                                        
                        </select>
                    </div>

                    <label for="sostenimientopersonas" class="col-lg-4 control-label">Tiene personas a cargo económicamente</label>
                    <div class="col-lg-2">
                        <select class="form-control" name="sostenimientopersonas" id="sostenimientopersonas" required [(ngModel)]="sostenimiento_personas.i_booleano" #sostenimientopersonas="ngModel">
                            <option value="f" selected>No</option>
                            <option value="t">Si</option>                                           
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="pagaarriendo" class="col-lg-4 control-label">Actualmente paga arriendo</label>
                    <div class="col-lg-2">
                        <select class="form-control" name="pagaarriendo" id="pagaarriendo" required [(ngModel)]="vive_en_arriendo.i_booleano" #pagaarriendo="ngModel">
                            <option value="f" selected>No</option>
                            <option value="t">Si</option>
                        </select>
                    </div>

                    <label for="origen" class="col-lg-4 control-label">Proviene de Municipios o ciudades distintos a Bogotá</label>
                    <div class="col-lg-2">
                        <select class="form-control" name="origen" id="origen" required [(ngModel)]="origen.i_booleano" #pagaarriendo="ngModel">
                            <option value="f" selected>No</option>
                            <option value="t">Si</option>                                        
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="tipopoblacion" class="col-lg-7 control-label">Usted o su grupo familiar esta certificado como alguna de las siguientes poblaciones </label>
                    <div class="col-lg-5 input-group">
                        <select class="form-control" name="tipopoblacion" id="tipopoblacion" required [(ngModel)]="desplazamiento_forzado.n_valorcampo" #tipopoblacion="ngModel">
                            <option value="ninguna">Ninguna</option>
                            <option value="desplazado">Desplazado</option>
                            <option value="indigena">Indigena</option>      
                            <option value="minoria">Minorias étnicas</option>
                            <option value="afrodescendiente">Afrodescendiente - Afrocolombiano</option>     
                            <option value=" mujer cabeza de hogar">Mujer cabeza de hogar</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="discapacidad" class="col-lg-4 control-label">Presenta algún tipo de discapacidad física o mental</label>
                    <div class="col-lg-2">
                        <select class="form-control" name="discapacidad" id="discapacidad" required [(ngModel)]="discapacidad_fisica.i_booleano" #discapacidad="ngModel">
                            <option value="f" selected>No</option>
                            <option value="t">Si</option>                                         
                        </select>
                    </div>

                    <label for="patologia" class="col-lg-4 control-label">Presenta alguna patología asociada a su alimentación</label>
                    <div class="col-lg-2">
                        <select class="form-control" name="patologia" id="patologia" required [(ngModel)]="patologia_medica.i_booleano" #patologia="ngModel">
                            <option value="f" selected>No</option>
                            <option value="t">Si</option>                                          
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="subsidio" class="col-lg-9 control-label"> Actualmente pertenece a algún programa de subsidio de indole nacional o departamental </label>
                    <div class="col-lg-2 input-group">
                        <select class="form-control" id="subsidio" required>
                            <option>Si</option>
                            <option>No</option>                           
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="seguridadSocial" class="col-lg-7 control-label">  Que tipo de seguridad social  posee actualmente </label>
                    <div class="col-lg-5 input-group">
                        <select class="form-control" id="seguridadSocial" required>
                            <option>Sisben</option>
                            <option>EPS</option>      
                            <option>Médicina Prepagada</option>                      
                        </select>
                    </div>
                </div>

                <legend><span class="glyphicon glyphicon-calendar"></span> Horario de Almuerzo</legend>
                <div class="table-responsive">

                    <table class="table table-striped table-bordered  ">
                        <thead>
                            <tr class="success block-center">

                                <th class="text-center">LUNES</th>
                                <th class="text-center">MARTES</th>
                                <th class="text-center">MIÉRCOLES</th>
                                <th class="text-center">JUEVES</th>
                                <th class="text-center">VIERNES</th>
                            </tr>
                        </thead>

                        <tr>
                            <th class="text-center"><input type="checkbox" value=""></th>
                            <th class="text-center"> <input type="checkbox" value=""></th>
                            <th class="text-center"><input type="checkbox" value=""></th>
                            <th class="text-center"><input type="checkbox" value=""></th>
                            <th class="text-center"><input type="checkbox" value=""></th>
                        </tr>
                    </table>

                </div>



                <legend><span class="glyphicon glyphicon-paperclip"></span> Documentación Requerida</legend>
                <div class="form-group">
                    <label for="carta" class="col-lg-5 control-label"> Carta dirigida a la Directora de Bienestar Institucional </label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" id="carta">
                    </div>
                </div>

                <div class="form-group">
                    <label for="certificadoEstratificacion" class="col-lg-5 control-label">Certificado de Estratifiación (No superior a un Año) </label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" id="certificadoEstratificacion">
                    </div>
                </div>

                <div class="form-group">
                    <label for="reciboPublico" class="col-lg-5 control-label">Factura de un   recibo de servicio  público (con una vigencia de 3 meses)  </label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" id="reciboPublico">
                    </div>
                </div>

                <div class="form-group">
                    <label for="reciboUniversidad" class="col-lg-5 control-label">Fotocopia del Recibo de Pago de la Universidad cancelado.</label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" id="reciboUniversidad">
                    </div>
                </div>

                <div class="form-group">
                    <label for="cerDesplazamiento" class="col-lg-5 control-label">Certificado de desplazamientos forzoso </label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" id="cerDesplazamiento">
                    </div>
                </div>

                <div class="form-group">
                    <label for="cerNacimiento" class="col-lg-5 control-label">Certificado de Nacimiento de sus hijos</label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" id="cerNacimiento">
                    </div>
                </div>

                <div class="form-group">
                    <label for="cerIngresos" class="col-lg-5 control-label">Certificado de Ingresos</label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" id="cerIngresos">
                    </div>
                </div>

                <div class="form-group">
                    <label for="examenes" class="col-lg-5 control-label">Exámenes Médicos</label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" id="examenes">
                    </div>
                </div>

                <div class="form-group">
                    <label for="conArrendamiento" class="col-lg-5 control-label">Contrato de Arrendamiento</label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" id="conArrendamiento">
                    </div>
                </div>


                <div class="form-group block-center">
                    <div class="col-lg-10 col-lg-offset-4">
                        <button type="reset" class="btn btn-default" (click)="volver()"> <span class="glyphicon glyphicon-remove-sign"></span> Cancelar</button>
                        <button type="submit" class="btn btn-success" (click)="enviarSolicitud(datos_usuario.n_usuario,datos_usuario.k_codeestudiante)" [disabled]="!formulario.form.valid"> <span class="glyphicon glyphicon-ok-circle"></span> Enviar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>