<app-nav></app-nav>

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a routerLink="/landing"><span class="glyphicon glyphicon-home"></span> PAAUD</a></li>
            <li><span class="glyphicon glyphicon-bullhorn"></span> Convocatoria</li>
            <li class="active"><span class="glyphicon glyphicon-flag"></span> Ver Convocatoria Actual
        </ul>
    </div>

    <div class="col-md-12 jumbotron">
        <h1>Convocatoria Actual</h1>
        <hr class="my-4">
        <!--Imagen-->
        <div class="col-md-3 block-center">
            <img src="../../assets/convocatoria.png" alt="">
        </div>

        <div class="col-md-9">
            <form class="form-horizontal">
                <fieldset>
                    <legend><span class="glyphicon glyphicon-time"></span>Fechas de la Convocatoria</legend>
                    <div class="form-group">
                        <label for="anio" class="col-lg-1 control-label">Año </label>
                        <div class="col-md-3">
                            <input type="number" class="form-control" name="anio" id="anio" placeholder="Año" required readonly/>
                        </div>

                        <label for="periodo" class="col-lg-1 control-label">Periodo </label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" name="periodo" id="periodo" placeholder="Periodo" required readonly/>
                        </div>

                        <label for="periodo" class="col-lg-1 control-label">Estado</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="estado" id="estado" placeholder="Estado" required readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fechaInicioConvocatoria" class="col-lg-4 control-label">Periodo de la Convocatoria</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaInicioConvocatoria" required readonly>
                        </div>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaFinConvocatoria" required readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fechaInicioPublicacion" class="col-lg-4 control-label">Periodo de Publicación</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaInicioPublicacion" required readonly>
                        </div>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaFinPublicacion" required readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fechaInicioValidacion" class="col-lg-4 control-label">Periodo de Validación</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaInicioValidacion" required readonly>
                        </div>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" id="fechaFinValidacion" required readonly>
                        </div>
                    </div>



                    <legend><span class="glyphicon glyphicon-bullhorn"></span> Resultados</legend>
                    <label for="periodo" class="col-md-5 control-label">Fecha de Publicación </label>
                    <div class="col-md-4">
                        <input type="date" class="form-control" id="fechaPublicacion" required readonly>
                    </div>
                    <legend><span class="glyphicon glyphicon-pencil"></span> Número de Cupos </legend>
                    <div class="form-group">
                        <label for="subTotal" class="col-lg-2 control-label">Subsidio Total</label>
                        <div class="col-lg-4">
                            <input type="number" class="form-control" name="subTotal" id="subTotal" placeholder="Cupos Subsidio Total" required readonly/>
                        </div>


                        <label for="subB" class="col-lg-2 control-label">Subsidio Tipo A </label>
                        <div class="col-lg-4">
                            <input type="number" class="form-control" name="subA" id="subA" placeholder="Cupos Subsidio tipo A" required readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subC" class="col-lg-2 control-label">Subsidio Tipo B </label>
                        <div class="col-lg-4">
                            <input type="number" class="form-control" name="subB" id="subB" placeholder="Cupos Subsidio tipo B" required readonly />
                        </div>


                        <label for="documento" class="col-lg-2 control-label">Total Cupos</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="total" id="total" readonly="readonly" placeholder="Total de Cupos" required readonly />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>



    </div>

</div>