<app-nav></app-nav>

<div class="container">

    <!--Barra de navegacion-->
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a routerLink="/landing"><span class="glyphicon glyphicon-home"></span> PAAUD</a></li>
                <li><span class="glyphicon glyphicon-duplicate"></span> Solicitud</li>
                <li class="active"><span class="glyphicon glyphicon-floppy-saved"></span> Confirmación Solicitud</li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <div class="jumbotron alert alert-dismissible alert-success">
            <button (click)="volver()" type="button" class="close" data-dismiss="alert">&times;</button>
            <h1><span class="glyphicon glyphicon-check"></span> Solicitud Registrada con Éxito</h1>

            <p>El número de radicado de la solicitud es {{valor_ultima_solicitud.max}}</p>
            <br>
        </div>

    </div>
</div>