<app-nav></app-nav>

<div class="container">
    <!--Barra de navegacion-->
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li class="active"><a routerLink="/landing"><span class="glyphicon glyphicon-home"></span> PAAUD</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="main col-md-2">
            <div class="alert alert-success">
                <img src="../../assets/logoblanco.png" width="100px" class="center-block" />
                <br>
                <h4 class="text-center">Bienvenido {{datos_usuario.rol}}</h4>
            </div>
        </div>

        <div class="col-md-7 jumbotron">
            <h1 class="text-center">Hola {{datos_usuario.datos.nombres}}!!</h1>
            <hr class="my-4">
            <p class="text-center"> <small>Aquí podrás conocer todo lo relacionado con el Programa de Apoyo Alimentario de la Universidad Distrital</small></p>
            <p class="text-center"><a class="btn btn-primary btn-lg " routerLink="/registrar-solicitud">Registra una Solicitud</a></p>
        </div>

        <app-informacion></app-informacion>

    </div>

    <div class="row">
        <img src="../../assets/banner.png" class="img-responsive" width="100%" />
    </div>

</div>