<app-nav></app-nav>

<div class="container">

    <!--Barra de navegacion-->
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a routerLink="/landing"><span class="glyphicon glyphicon-home"></span> PAAUD</a></li>
            <li><span class="glyphicon glyphicon-briefcase"></span> Tareas Asignadas</li>
            <li class="active"><span class="glyphicon glyphicon-plus-sign"></span> Registrar Tarea Nueva</li>
        </ul>
    </div>

    <div class="col-md-12 jumbotron">
        <h1><span class="glyphicon glyphicon-plus-sign"></span> Registrar Tarea</h1>
        <hr class="my-4">

        

</div>