<app-nav></app-nav>

<div class="container">

    <!--Barra de navegacion-->
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a routerLink="/landing"><span class="glyphicon glyphicon-home"></span> PAAUD</a></li>
                <li><span class="glyphicon glyphicon-duplicate"></span> Solicitud</li>
                <li class="active"><span class="glyphicon glyphicon-cog"></span> Modificar Solicitud</li>
            </ul>
        </div>
    </div>

    <div class="col-md-12">
        <div class="jumbotron alert alert-dismissible alert-success">
            <h1><span class="glyphicon glyphicon-check"></span> Convocatorias Activas</h1>

            <p>Actualmente se encuentrán activas las siguientes convocatorias</p>
            <br>

            <fieldset>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" style="color: gray">
                        <thead>
                            <tr class="warning block-center">
                                <th class="text-center">FACULTAD</th>
                                <th class="text-center">PERIODO</th>
                                <th class="text-center">ESTADO</th>
                                <th class="text-center">FECHA INICIO</th>
                                <th class="text-center">FECHA FIN</th>
                                <th class="text-center">MODIFICAR</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let convocatoria of convocatorias; let i=index">
                            <td class="text-center active"> {{convocatoria["n_nombrefacultad"]}}</td>
                            <td class="text-center active"> {{convocatoria["q_periodo"]}} </td>
                            <td class="text-center active"> {{convocatoria["i_estadoconvocatoria"]}}</td>
                            <td class="text-center active"> {{convocatoria["f_inicioconvocatoria"]}}</td>
                            <td class="text-center active"> {{convocatoria["f_publicacionresultados"]}}</td>
                            <td class="text-center active">
                                <ventana-modificacion></ventana-modificacion>
                            </td>
                            <!--<button type="submit" class="btn btn-danger btn-xs" id="{{conv['k_idfacultad']}}{{i + 1}}" (click)="onChange($event.target.value)"> <span class="glyphicon glyphicon-cog"></span> Modificar </button>-->
                        </tr>
                    </table>
                </div>

                <div *ngIf="error != ''" class="alert alert-danger col-md-12">
                    * <span class="glyphicon glyphicon-warning"></span>{{error}}
                </div>
            </fieldset>

            <hr class="md-4">

        </div>
    </div>
</div>